.hextra-footer * {
  margin: 2 !important;
  padding: 2 !important;
}

.hextra-footer {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.hextra-footer p,
.hextra-footer h1,
.hextra-footer h2,
.hextra-footer h3,
.hextra-footer h4 {
  margin-bottom: 0.25rem !important;
}
